#contbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: auto;
    height: 500px;
}
#elementsCont{
    display: flex;
    margin: auto;
    width: 80%;
    border: 1px dotted black;

    height: 100px;
}
.elements{
    flex: 1;
    border: 1px solid black;
}